html:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-image: url(../img/internet1.jpg);
        opacity: 0.1;
        overflow:auto;
        z-index: -1;
    }

body {
    margin: 3em 9em;      
}
header {text-align: center;
		background-color: blue;
		color: white;
		margin-bottom: 6em}
.oculto {
    display: none;
}

label {
    font-weight:700;
    display: inline-block;
    width: 20%;
}
    label.long {
        width: auto;
        margin-right: 0.5em;
    }
    label.top {
        vertical-align: top;
    }
ul {list-style: none;}
li:nth-child(2n) {
    background-color: beige;
}
li:nth-child(2n+1) {
   background-color: silver;
}
footer { margin-top: 2em; }
footer p {margin: 0px auto}

input:required{
	border: 2px solid darkblue;
}

/******* Hoja de estilos ******/

html,body { 
 	margin: 0.3%; 
 	padding: 0.2%; 
    color: navy; 
    background: silver; 
    font-family: Sans-serif; }

h3 {text-align: center;}

label {
  	display:block;
    clear: both;
  	padding: 0.1em 1em;
    }
label.line {
  	display: inline-block;
    width: 30%;
  	 }

fieldset { 
  	background: steelblue; 
  	color:white; 
  	margin-bottom: 1%; 
  	padding:1% }


fieldset#fsFecha {margin: 2em 1em 1em; }

legend { 
  	background: navy;  
  	color:white; 
  	font-weight: bolder; 
  	border: 1px solid }

.Izquierda {
  	float: left; 
  	margin-right: 1%; 
  	width: 44%; }

.Derecha { 
  	float: right;
  	width: 44% }

@media (max-width: 767px) {

  /*fieldset.Derecha { 
     clear: both;
     float: left;
     width: 95%;} */

  fieldset.Derecha, fieldset.Izquierda {
    clear: both;
    width: 95%;
    }
}

#fsCurso div.Izquierda {width: 60%}
#fsCurso div.Derecha {width: 30%}

button { margin-left: 1.5%; }

.aficiones{ margin-left: 2%;}

span.label {
	display: block;
	float: left;
	width: 50%;}

fieldset#fsFecha label {
  padding: 0px
}

#fsFecha span.label {
	width:40%;
}

input {
	float: left;
}

input#Correo {width: 45%;}
input#Clave1, input#Clave2 {width: 35%;}
fieldset#fsDatos input {width: 45%;}
fieldset#fsFecha input {width: 40%;}
fieldset#fsFecha input#anio {width: 55%;}